#navbar {
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 3px solid #00ccff;
  width: 100vw;
}
#navList {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  top: 0;
  list-style-type: none;
  max-width: 1280px;
}
li {
  float: left;
  margin-left: 0.45em;
  margin-right: 0.45em;
}
.nav-button {
  display: inline-block;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #00ccff;
  text-align: center;
  text-decoration: none;
  padding: 0.425em 0.55em 0.425em 0.55em;
  cursor: pointer;
  font-weight: 300;
  height: 3rem;
  border-radius: 3px;
}
button:focus {
  outline: 0;
}
.nav-item:hover {
  background: #00ccff;
  color: #000000;
}
.nav-active {
  background: #00ccff;
  color: #000000;
}
.name-nav:hover {
  color: #00ccff;
}
.name-nav {
  color: white;
  font-family: 'Advent Pro', sans-serif;
}
.social-media {
  font-size: 1.4em;
  padding: 0.115em 0.55em 0.115em 0.55em;
}
.header-social-icon {
  vertical-align: top;
}
